<<<<<<< HEAD
<div class="container">
  <div class="user-infos">
    <h2 id="name"> <%=@user.first_name %> <%= @user.last_name %></h2>
    <span id="user"> <%= @user.address %> </span>
    <p id="email">  <%= @user.email %> </p>
  </div> 
=======
<h2 id="name"> <%=@user.first_name %> <%= @user.last_name %></h2>
<span id="address"> <%= @user.address %> </span>
<p id="user">  <%= @user.email %> </p>
>>>>>>> master

  <ul>

<<<<<<< HEAD
    <% @user.bookings.each do |booking| %>
    <li>
      <%= booking.start_date %> <br>
      <%= booking.end_date %> <br>
      <%= Product.find(booking.product_id).name %>
      <%= link_to 'Annuler cette location', booking_path(booking), method: :delete %>
    </li>
    <% end %>
  </ul>
</div>
=======
  <% @user.bookings.each do |booking| %>
  <li>
    <%= booking.start_date %> <br>
    <%= booking.end_date %> <br>
    <%= Product.find(booking.product_id).name %>
    <%= link_to 'Annuler cette location', booking_path(booking), method: :delete %>
  </li>
  <% end %>
</ul>
>>>>>>> master
