<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= "navbar-home" if action_name == "home" %> ">
  <a class="navbar-brand" href="/">
    <%=image_tag("logo.png", alt: "Example Image", class: "logo")%>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Mettre un produit en location', new_product_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class:"nav-link"%>
        </li>
        <li class="nav-item dropdown">
          <%= link_to user_path(current_user) do %>
            <!-- <img class="profil-picture" id="navbarDropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" /> -->
            <%# <%= cl_image_tag current_user.photo.key, crop: :fill, class: "profil-picture hand-pointer" %> %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path, class:"nav-link"%>
        </li>

        <li class="nav-item">
          <%= link_to 'Créer un compte', new_user_registration_path, class:"nav-link", id:"btn-create"%>
        </li>

      <% end %>

    </ul>
  </div>
</div>




