 <div class="container">

 </div>

  <%# # select pour filter %>



<div class="container">

  <div class="search-bar">
    <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control index-search-bar",
        placeholder: "Dit nous ce que tu cherches"
      %>
      <%= submit_tag "Rechercher", class: "search-btn" %>
    <% end %>
    <div class= img-svg-text>
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M12.166 8.94C12.696 7.867 13 6.862 13 6A5 5 0 0 0 3 6c0 .862.305 1.867.834 2.94.524 1.062 1.234 2.12 1.96 3.07A31.481 31.481 0 0 0 8 14.58l.208-.22a31.493 31.493 0 0 0 1.998-2.35c.726-.95 1.436-2.008 1.96-3.07zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
        <path fill-rule="evenodd" d="M8 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>
      <p>Autours de chez vous</p>
    </div>
  </div>


  <div class ="row">

    <% @products.each do |product| %>

      <div class ="col-12 col-lg-4">
        <div class="card p-3">

          <div class="card-top">
              <img class="profil-picture" src="https://thispersondoesnotexist.com/image" alt="profil picture">
              <div class="user-infos">
              <p class="user-name"><%= User.find(product.user_id).first_name %> </p>
              <p class="user-distance">150m</p>
            </div>
          </div>


          <%= cl_image_tag product.photo.key, height: 300, width: 250, crop: :fill, class: "card-img-top" %>

          <div class="card-bottom">
            <div class="card-title">
              <%= link_to product.name, product_path(product.id) %>
            </div>
            <div class="product-price">
              <p class="price1"> <%= product.price %>€ </p> 
              <p class="price2">/jour</p>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>


