<div class="flex-container show-product">
  <%# <div class ="product-card"> %>
      <div class="row">

        <div class="col-12 col-lg-5" style="justify-content-center">
          <div class="product-img" style="background-image: url('<%= cl_image_path @product.photo.key, height: 300, width: 400, crop: :fit %>')"></div>
        </div>

        <div class="clo-12 col-lg-4 product-info">

          <h1 id="product-name"><%=@product.name %></h1>

          <div class="product-description">
            <p><%=@product.description %></p>
          </div>
          <div class="owner-profil">
            <%= cl_image_tag @product.user.photo.key, crop: :fill, class: "profil-picture" %>
            <div class="owner-info">
              <p><%= @product.user.first_name %></p>
              <p>50M away</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-3 booking-info d-flex align-items-center justify-content-center">

          <div class="calendar">
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
            <%= simple_form_for [@product, @booking] do |f| %>
              <input type="text" class="flatpickr calendar-input" name="booking[range_date]">
              <%= f.button :submit, class: "green-bouton"%>
            <% end %>
          </div>

        </div>

      </div>

    <%# <div class="add_date"> %>
        <%# <%= f.label :product, "Your rental date" %>
        <%# <%= f.date_select :dateinstructed, :order => [:day, :month, :year] %>


    <%# # bouton pour book product %>
    <%# mettre un total %>

    <%# </div> %>
</div>
