<div class="flex-container show-product">
  <%# <div class ="product-card"> %>
      <div class="row">

        <div class="col-12 col-lg-5" style="justify-content-center">
          <div class="product-img" style="background-image: url('<%= cl_image_path @product.photo.key, height: 300, width: 400, crop: :fit %>')"></div>
        </div>

        <div class="clo-12 col-lg-4 product-info">

          <h1 id="product-name"><%=@product.name %></h1>

          <div class="product-description">
            <p><%=@product.description %></p>
          </div>
          <div class="owner-profil">
            <%= cl_image_tag @product.user.photo.key, crop: :fill, class: "profil-picture" %>
            <div class="owner-info">
              <p><%= @product.user.first_name %></p>
              <p>50M away</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-3 booking-info">
          <%= simple_form_for [@product, @booking] do |f| %>

            <input type="text" class="flatpickr" name="booking[range_date]">
            <%= f.button :submit %>

          <% end %>
        </div>

      </div>

    <%# <div class="add_date"> %>
        <%# <%= f.label :product, "Your rental date" %>
        <%# <%= f.date_select :dateinstructed, :order => [:day, :month, :year] %>


    <%# # bouton pour book product %>
    <%# mettre un total %>

    <%# </div> %>
</div>
