<div class="flex-container show-product">

    <div class="row">

      <div class="col-12 col-lg-5 product-img">

      </div>

      <div class="clo-12 col-lg-7">

        <div class="product-info">
          <div class="product-name">
            <h1><%=@product.name %></h1>
          </div>
          <div class="product-description">
            <p><%=@product.description %></p>
          </div>
          <div class="owner-profil">
            <img src="https://thispersondoesnotexist.com/image" alt="Owner picture">
            <div class="owner-info">
              <p><%= @product.user.first_name %></p>
              <p>50M away</p>
            </div>
          </div>
        </div>

        <div class="booking">
          <%= simple_form_for [@product, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.button :submit %>
          <% end %>
        </div>

      </div>


    </div>
</div>
