<div class="flex-container">
  <%# <div class ="product-card"> %>

    <h1><%=@product.name %></h1> 
    <p><%=@product.description %></p> 
    <p><%=@product.price %></p> 


    <div class="add_date">
        <%= f.label :product, "Your rental date" %>
        <%= f.date_select :dateinstructed, :order => [:day, :month, :year] %>


    # bouton pour book product
    <%# mettre un total %>

    </div>
</div>